<h1><%=@article.title%></h1>
<% if user_signed_in? %>
<h1><%=link_to 'Create new comment', new_article_comment_path(@article)%></h1>
<% end %>
<ul>
  <% @comments.each do |comment|%>
    <li> <%=comment.body%>| <%=comment.created_at%></li>
    <% if user_signed_in? && current_user.vote_for(comment).present? %>
      <%= link_to 'Unvote', comment_vote_path(comment, current_user.vote_for(comment)), method: :delete %>
    <% else %>
      <%= link_to 'Up vote', comment_votes_path(comment,:vote => true), method: :post %>
      <%= link_to 'Down vote', comment_votes_path(comment,:vote => false), method: :post %>
    <% end %>


  <% end %>
</ul>
