<div class=""><%= link_to 'add comment', new_article_comment_path %></div>
<div class="comhead"><%= link_to @comment.user.email, author_path(@comment.user.id) %> <%= time_ago_in_words(@comment.created_at) %> ago | <%= link_to 'parent', article_comments_path(@comment.article) %></div>
<div class="comment"><%= @comment.body %></div>
