<div class="block">
  <%= article.vote_count %>
</div>


<div class="block">
<% if user_signed_in? %>
  <% current_user_vote = current_user.vote_for(article) %>
  <% if current_user_vote.present? %>
  <% if current_user_vote.upvote %>

  <%= button_to "upvote", article_vote_path(article, current_user_vote), method: :delete, class: "btn btn-warning" %>
  <div class="btn btn-default">downvote</div>
  <% else %>
  <div class="btn btn-default">upvote</div>
  <%= button_to "downvote", article_vote_path(article, current_user_vote), method: :delete, class: "btn btn-primary" %>
  <% end %>
  <% else %>
  <div>
    <%= button_to "upvote", article_votes_path(article, upvote: true), method: :post, class: "btn btn-warning" %>
  </div>
  <div>
    <%= button_to "downvote", article_votes_path(article, upvote: false), method: :post, class: "btn btn-primary" %>
  </div>
  <% end %>
  <% end %>
</div>
