<li>
  <div class="title"><%= link_to article.title, article.url %> <span class="comhead"> (<%= article.host %>)</span><div>
  <div class="subtext">
    <%= article.list_score %> by <%= link_to article.user.email, author_path(article.user) %> <%= time_ago_in_words(article.submitted_at) %> ago | <%= link_to article.list_comment_count, article_comments_path(article) %>
  </div>
</li>
