<tr>
  <td class="lead">
   <span class="badge"><%= article.score %> </span> <%= link_to article.title, article.url %>
  </td>
  <td>
    <p class = "text-center" style="font-size: 10px; position: relative; bottom: -10px; right: -60px;"> posted by <%= article.user.username %> at <%= article.created_at %></p>
  </td>
  <td class="text-right">
    <div class="btn-group">
      <%= link_to article, class: 'btn btn-default' do %>
        <span class="glyphicon glyphicon-eye-open"></span> View
      <% end %>
      <%= render 'buttons', article: article %>
    </div>
  </td>
</tr>
