
<%if user_signed_in? && current_user.id == article.user_id %>
  <%= link_to edit_user_article_path(current_user, article), class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    <% end %>
  <%= link_to user_article_path(current_user, article), method: :delete, class: 'btn btn-default', data: { confirm: 'Really delete this article?' } do %>
    <span class="glyphicon glyphicon-remove"></span>
  <% end %>
<% end %>

<% if !user_signed_in? || !current_user.likeable_like(article).present?  %>
  <%= link_to(article_likes_path(article, is_upvote: true), method: :post, class: 'btn btn-default') do %>

    <span class="glyphicon glyphicon-thumbs-up"></span>
  <% end%>

  <%= link_to(article_likes_path(article, is_upvote: false), method: :post,  class: 'btn btn-default') do %>
    <span class="glyphicon glyphicon-thumbs-down"></span>
  <%end%>
<% elsif current_user.likeable_like(article).is_upvote %>
    <%= link_to(article_like_path(article, current_user.likeable_like(article)), method: :delete, class: 'btn btn-success') do %>

    <span class="glyphicon glyphicon-thumbs-up"></span>
  <% end%>

  <%= link_to(article_likes_path(article, is_upvote: false), method: :post,  class: 'btn btn-default') do %>
    <span class="glyphicon glyphicon-thumbs-down"></span>
  <%end%>
<% else %>
    <%= link_to(article_likes_path(article, is_upvote: true), method: :post, class: 'btn btn-default') do %>

    <span class="glyphicon glyphicon-thumbs-up"></span>
  <% end%>

  <%= link_to(article_like_path(article, current_user.likeable_like(article)), method: :delete,  class: 'btn btn-danger') do %>
    <span class="glyphicon glyphicon-thumbs-down"></span>
  <%end%>


<% end %>

