<% flash.each do |key, value| %>
<%= content_tag :div, value, class: "flash #{key}" %>
<% end %>
<%= form_for @article do |f| %>
<div class="form-field">
  <%= f.label :title %>
  <%= f.text_field :title %>
</div>
<div class="form-field">
  <%= f.label :url %>
  <%= f.text_field :url %>
</div>
<div class="form-action">
  <%= f.submit submit_btn_label %>
</div>
<% end %>
