<h1>Hexer News</h1>
<%=link_to 'Create new article', new_article_path %>

<ul>
  <% @articles.each do |article|%>
    <li> <%=link_to article.title, article.url %> | <%=article.url %>
    | <%=link_to 'Comments', article_comments_path(article.id)  %>
    | <%=link_to 'Delete', article, method: :delete, data:{confirm: 'Are you sure?'} %></li>
    <%= button_to 'Up Vote', article_votes_path(article), method: :post %>
    <%= button_to 'Down Vote', article_votes_path(article), method: :post %>

  <% end %>
</ul>
