<h1>Hexer News</h1>
<%=link_to 'Create new article', new_article_path %>

<ul>
  <% @articles.each do |article|%>
    <li> <%=link_to article.title, article.url %> | <%=article.url %>
    | <%=link_to 'Comments', article_comments_path(article.id)  %>
    | <%=link_to 'Delete', article, method: :delete, data:{confirm: 'Are you sure?'} %></li>
    <% if user_signed_in? && current_user.vote_for(article).present? %>
      <%= link_to 'Unvote', article_vote_path(article, current_user.vote_for(article)), method: :delete %>
    <% else %>
      <%= link_to 'Up vote', article_votes_path(article,:vote => true), method: :post %>
      <%= link_to 'Down vote', article_votes_path(article,:vote => false), method: :post %>
    <% end %>

  <% end %>
</ul>
