<h3> Articles Index </h3>
<%= button_to "Submit a new article", new_article_path, method: :get, class: "btn btn-success" %>
<p> display all articles </p>
<% @articles.each do |article| %>
<div class="block">
  <%= render 'article_vote', article: article %>
</div>

<div class="block">
  <div><%= link_to article.title, article.url %></div>
  <div>Submitted by: <%= User.find(article.user_id).email %>
    at: <%= article.created_at %>
  </div>
  <div><%= link_to "View Comments", article_path(article) %></div>
  <br>
</div>
<hr>
<% end %>
