<div class="container">
  <div class="row">
    <div class="col-md-2">
      <br><%= link_to 'Back', :back, :class => 'btn btn-primary'  %>
    </div>
    <div class="col-md-8">
      <div class="well well-lg">

          <h2> <%= @article.title %></h2><br>
        <p>
          url: <%= link_to(@article.url) %>
          <br>
        </p>
      </div>


      <% if user_signed_in? %>
        <% if current_user.id.equal?(@article.user_id) %>
          <div class="form-actions">
            <%= link_to 'Edit', edit_article_path, :class => 'btn btn-primary' %>
            <%= link_to 'Delete', article_path, :method => 'delete', confirm: 'Are you sure?', :class => 'btn btn-danger' %>
            <br>

          </div>
        <% end %>
        <%= render @article.comments %>
      <% end %>


    </div>
  </div>
</div>
