<h1>Show page for articles </h1>
<div class="block">
<%= render 'article_vote', article: @article %>
</div>
<div class="block">
  <p>
    Posted by <%= @user.email %> at <%= @article.created_at %>
  </p>
  <div><%= @article.title %></div>
  <div><%= link_to nil, @article.url %></div>
</div>

<h3>Comments</h3>
<% if user_signed_in? %>
<p><%= link_to 'Leave a comment', new_article_comment_path(@article) %></p>
<% end %>

<%= render @article.comments, article: @article %>
