<%= render 'article_box', article: @article %>
<p>Created by user #<%= @article.user_id %> </p>

<% if user_signed_in? %>
  <%= form_for [@article, Comment.new] do |f| %>
    <%= f.label :content, "Add a comment" %><br>
    <%= f.text_area :content %>
    <br>
    <%= f.submit %>
  <% end %>
<% end %>

<% @article.comments.each do |comment| %>
  <%= render 'comments/single_comment', comment: comment %>
<% end %>

