
<div class="container">
  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
      <div class="well well-lg">

          <h2> <%= @article.title %></h2><br>
        <p>
          url: <%= link_to(@article.url) %><br>
          submitted: <%= @article.created_at %>
        </p>

      <% if user_signed_in? %>
        <% if current_user.id.equal?(@article.user_id) %>
          <div class="form-actions">
            <%= link_to 'Edit', edit_article_path, :class => 'btn btn-primary' %>
            <%= link_to 'Delete', article_path, :method => 'delete', confirm: 'Are you sure?', :class => 'btn btn-danger' %>
            <br>

          </div>
        <% end %>
        <br>
      </div>

        <h4>
          VOTE SCORE: <%= @article.votes.count - @article.down_votes.count%>
          <br>
          <% if current_user.has_vote_for(@article).present? %>
            <%= button_to 'Undo Upvote', article_vote_path(@article, current_user.has_vote_for(@article)), method: :delete, class:'btn btn-info' %>
          <% elsif current_user.has_down_vote_for(@article).present? %>
            <%= button_to 'Undo Downvote', article_down_vote_path(@article, current_user.has_down_vote_for(@article)), method: :delete, class:'btn btn-info' %>
          <% else %>
            <%= link_to 'Upvote', article_votes_path(@article), method: :post, class:'btn btn-success' %>
            <%= link_to 'Downvote', article_down_votes_path(@article), method: :post, class:'btn btn-warning' %>
          <% end %>
        </h4>
        <br>
        <h4> Comments </h4>
        <% @article.comments.each do |comment| %>
          <p>
            <i><%= comment.user.email %> said:</i> <b><%=comment.content %></b><br>
            <i>submitted:</i> <%= comment.created_at %><br>
            <i>Vote Score:</i> <%=comment.votes.count - comment.down_votes.count%>
            <br>
            <% if current_user.has_vote_for(comment).present? %>
              <%= button_to 'Undo Upvote', comment_vote_path(comment, current_user.has_vote_for(comment)), method: :delete, class:'btn btn-info btn-xs' %>
            <% elsif current_user.has_down_vote_for(comment).present? %>
              <%= button_to 'Undo Downvote', comment_down_vote_path(comment, current_user.has_down_vote_for(comment)), method: :delete, class:'btn btn-info btn-xs' %>
            <%else%>
              <%= button_to 'Upvote', comment_votes_path(comment), method: :post, class:'btn btn-success btn-xs' %><%= button_to 'Downvote', comment_down_votes_path(comment), method: :post, class:'btn btn-warning btn-xs' %>
            <% end %>
          </p>
        <% end %>


        <%= link_to 'Add a comment', new_article_comment_path(@article) %><br><br>

      <% end %>

    </div>
  </div>
</div>
