<div class="col-md-2">
</div>
<div class="col-md-8">
  <span class="glyphicon glyphicon-flash text-center"></span>
  <h2><%= @article.title %></h2>
  <p><%= @article.body %></p>
<% if user_signed_in? %>
<span class="glyphicon glyphicon-arrow-up"></span>
    <% if current_user.upvote_for(@article).present? %>
    <%= link_to 'Upvote', article_upvote_path(article, current_user.upvote_for(@article)), method: :delete %>
    <% else %>
    <%= link_to 'Upvote', article_upvotes_path(@article), method: :post %>
    <% end %>
  <% end %>
<% if user_signed_in? %>
<span class="glyphicon glyphicon-arrow-down"></span>
    <% if current_user.downvote_for(@article).present? %>
    <%= link_to 'Downvote', article_downvote_path(article, current_user.downvote_for(@article)), method: :delete %>
    <% else %>
    <%= link_to 'Downvote', article_downvotes_path(@article), method: :post %>
    <% end %>
  <% end %>
  <p>

    <%= @comment.content %>
  </p>
  <%= render 'comments/form', comment: @comment %>
</div>
<div class="col-md-2">
</div>
