<hr>
<h2 class="text-center"><%= @article.title %></h2>

<div class="row">
  <div class="block col-md-2"></div>
  <div class="block col-md-2">
    <%= render 'article_vote', article: @article %>
  </div>

  <div class="block col-md-8">
    <h4><%= link_to nil, @article.url %></h4>
    <p>
      Posted by <%= @user.email %>
      <br>at: <%= @article.created_at %>
    </p>

  </div>
</div>
<hr>
<div class="row">

  <div class="block col-md-6">
  <h3>Comments</h3>
  </div>
  <div class="block col-md-6">
  <% if user_signed_in? %>
  <h3><%= link_to 'Leave a comment', new_article_comment_path(@article), class: "btn btn-success" %></h3>
  <% end %>
  </div>
</div>
<hr>

  <%= render @article.comments.sort_by(&:vote_count).reverse, article: @article %>

