<nav class="top-bar" data-topbar>
  <div class="stuff">
  <ul class="title-area">
    <li class="name"><h1><%= link_to "HackerNews", root_path %> </h1></li>
  </ul>
  <% if user_signed_in? %>
    <section class="top-bar-section">
    <ul class="left">
    <li><%= link_to "Submit Article", new_article_path %></li>
    </ul>

    <ul class="right">
    <li><a class="right" href="#">Logged in as <%= current_user.email %></a></li>
    <li><%= link_to "edit profile", edit_user_registration_path %></li>
    <li><%= link_to "logout", destroy_user_session_path, method: :delete %></li>
    </ul>
    </section>

  <% else %>
    <section class="top-bar-section">
    <ul class="right">
      <li><%= link_to "register", new_user_registration_path %></li>
      <li><a href="#"> or </a></li>
      <li><%= link_to "log in", new_user_session_path %></li>
    </ul>
    </section>
  <% end %>
  </div>
</nav>
