<!DOCTYPE html>
<html>
<head>
  <title>Wdi4RailsHwTddHackerNews</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">

<%= nav_bar :fixed => :top, :brand => "Hacker News", :brand_link => root_path %>
  <% if user_signed_in? %>
    <%= menu_group :pull => :right do %>
      <%= menu_item 'Edit profile', edit_user_registration_path %>
      <%= menu_item "Logout", destroy_user_session_path, method: :delete %>
    <% end %>
  <% end %>



<br>
<br>
<br>

<% if user_signed_in? %>
  Logged in as <strong><%= current_user.email %></strong>.
  <%= link_to 'Edit profile', edit_user_registration_path %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path %> |
  <%= link_to "Login", new_user_session_path %>
<% end %>

<% flash.each do |key, message| %>
  <%= content_tag :div, message, class: key %>
<% end %>


<%= yield %>

</div>

</body>
</html>
