<!DOCTYPE html>
<html>
<head>
  <title>Wdi4RailsHwTddHackerNews</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="nav">
    <ul>
      <li><%= link_to 'HaxorNews', articles_path %></li>
      <li><%= link_to 'new', newest_articles_path %></li>
      <li>comments</li>
      <li><%= link_to 'submit', new_article_path %></li>
      <% if user_signed_in? %>
      <li><%= link_to 'logout', destroy_user_session_path %></li>
      <% else %>
      <li><%= link_to 'login', new_user_session_path %></li>
      <% end %>
    </ul>
  </div>

  <%= yield %>

</body>
</html>
